<p-dialog [(visible)]="display" (onHide)="cerrar()">
    <p-header>
        Datos de Empresa
    </p-header>
    <form [formGroup]="form" novalidate>
        <div class="field-margin-top field-margin-bottom">
            <span class="ui-float-label">
                <input id="float-input" type="text" size="45" pInputText formControlName="name"> 
                <label for="float-input">Nombre</label>
            </span>
            <p-message *ngIf="formValidate.isFieldValid(form, 'name')" severity="error" text="Nombre es Obligatorio"></p-message>
        </div>
    
        <div class="field-margin-top field-margin-bottom">
            <span class="ui-float-label">
                <input id="float-input" type="email" size="45" pInputText formControlName="email"> 
                <label for="float-input">Correo</label>
            </span>
            <p-message *ngIf="formValidate.isFieldValid(form, 'email')" severity="error" text="Correo es Obligatorio y debe ser de formato john@doe.com"></p-message>
        </div>
    
        <div class="field-margin-bottom">
            <span class="ui-float-label">
                <p-inputMask id="float-input" mask="(999) 999-9999" placeholder="(999) 999-9999" formControlName="phone"></p-inputMask> 
                <label for="float-input">Telefono</label>
            </span>
            <p-message *ngIf="formValidate.isFieldValid(form, 'phone')" severity="error" text="Telefono es Obligatorio"></p-message>
        </div>
    </form>
    <p-footer>
        <button pButton type="button" icon="pi pi-save" label="Registrar" class="ui-button-info" style="margin-right: .25em" (click)="onRegister()"></button>
        <button pButton type="button" icon="pi pi-undo" label="Regresar" class="ui-button-success" (click)="cerrar()"></button>
    </p-footer>
</p-dialog>
